<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>


  <add key="cors_allowOrigins" value="*" />
  <add key="cors_allowHeaders" value="*" />
  <add key="cors_allowMethods" value="*" />
  <add key="JWTSecretKey" value="123ewqasdzxc"/>
</appSettings>