<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!--<add name="MyStrConn" providerName="System.Data.SqlClient" connectionString="Server=49.234.48.15;Database=SalesStatisticPro;User Id=sa;Password=good7453390dong.;" />-->
  <add name="MyStrConn" connectionString="Server=.;Initial Catalog=SalesStatisticPro;User Id=sa;Password=123;Integrated Security=True;" providerName="System.Data.SqlClient" />
</connectionStrings>
