<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--连接本地sql server数据库需要配置的文件-->
  <connectionStrings>
    <!--<add name="MyStrConn" providerName="System.Data.SqlClient" connectionString="Server=49.234.48.15;Database=SalesStatisticPro;User Id=sa;Password=good7453390dong.;" />-->
    <add name="MyStrConn" connectionString="Data Source=.;Initial Catalog=SalesStatisticPro;User Id=sa;Password=123;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  
</configuration>